body {
  font-family:Gotham SSm A, Gotham SSm B, Verdana, sans-serif;
  padding: 10px;
  background: white;
}

h2 {
    display: block;
    font-style: italic;
  font-size: 1.2em;
  margin-top: -1.5em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

h3 {
    display: block;
    font-style: italic;
  font-size: 1.2em;
  margin-top: .2em;
  margin-bottom: .5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

43 {
    display: block;
  font-size: 1em;
  margin-top: .2em;
  margin-bottom: .5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

hr {
    display: block;
    border-style:inset;
    border-color:#b30000;
    background-color:#b30000;
    height: 3px;
    border: 0;
}

.topnav {
  overflow: hidden;
  background-color: #DCDCDC;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #A9A9A9;
  color: black;
}

.header {
  background-color: "white";
  text-align: center;
  color: white;
  padding: 20px;
}

ul {
    list-style:none;
}

ul li::before {
    content: "\2022";
    color: #b30000;
    font-weigth: bold;
    display:inline-block;
    width:1em;
    margin-left:-1em;
}

.card1 {
  font-size: .9em;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card2 {
    font-size: .9em;
  background-color: white;
  padding: 20px; 
}

.card3 {
    font-size: .9em;
  background-color: white;
  padding: 20px;
  margin-top: 1px;
  
}

.card4 {
    text-align: center;
    font-size: 1.1em;
  background-color: #DCDCDC;
  padding: 20px;
  margin-top: 1px;
}

.card5 {
    text-align: center;
    font-size: 1.1em;
  background-color: white;
  padding: 20px;
  margin-top: 1px;
}

.speaker {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.speaker person{ 
  /*height: 200px;*/
  display: flex;
  width: 100%;
  align-items: center;
  color: black;
  text-align: left;
  border-top: 2px solid  #A9A9A9;
  border-bottom: 2px solid  #A9A9A9;
  border-right: 2px solid #A9A9A9;
  padding: 5px; 
  /*background-color: #ADD8E6;*/
  background-color: #F5F5DC;
  line-height: 2;
}

.speaker p{
  margin-left: 20px;	
}

.speaker time{
    /*height: 200px;*/
  min-width:120px;
  width: 120px;
  float: left;
  display: flex;
  align-items: center;
  justify-items: center;
  border-top: 2px solid  #A9A9A9;
  border-bottom: 2px solid  #A9A9A9;
  border-left: 2px solid #A9A9A9;
  border-right: 4px solid black;
  color: black;
  padding: 5px;
  text-decoration: none;
  background-color: #DCDCDC;
  z-index: 2;
}











			
